<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{layout/head :: head('Crear cuenta')}"></head>

<body class="d-flex align-items-center py-4 bg-light min-vh-100 ">

<main class="container">
    <div class="row justify-content-center">
        <div class="col-md-6 col-lg-5">
            <form th:action="@{/register}" method="post" class="card shadow-sm p-4" th:object="${user}">

                <!-- logo y TITULO -->
                <div class="text-center mb-3">
                    <img th:src="@{/images/logo.png}" alt="Logo" class="mb-2 rounded-3" style="width: 90px;">
                    <h1 class="h3 mt-3 fw-normal">Crear cuenta</h1>
                </div>

                <div class="form-floatin mb-3">
                    <input type="text" class="form-control" id="username"
                           placeholder="Username"
                           required th:field="*{username}" min="3" maxlength="100">
                    <label for="username"></label>
                </div>

                <div class="form-floatin mb-3">
                    <input type="email" class="form-control" id="email"
                           placeholder="Email"
                           required th:field="*{email}">
                    <label for="email"></label>
                </div>

                <div class="form-floatin mb-3">
                    <input type="password" th:field="*{password}"
                           class="form-control" id="password"
                           placeholder="Contraseña"
                           required minlength="4">
                    <label for="password"></label>
                </div>

                <div class="form-floatin mb-3">
                    <input type="passwordConfirm" th:field="*{passwordConfirm}"
                           class="form-control" id="passwordConfirm"
                           placeholder="Confirmar contraseña"
                           required minlength="4">
                    <label for="passwordConfirm"></label>
                </div>

                <button type="submit" class="btn btn-success">Crear cuenta</button>

                <p class="mt-3 text-center small">¿Ya tienes cuenta?
                    <a th:href="@{/login}">Inicia sesión</a>
                </p>

            </form>

        </div>

    </div>

</main>
<script th:replace="~{layout/footer :: scripts}"></script>

</body>
</html>

