<!DOCTYPE html>
<html lang="es-ES" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Detalle Restaurante</title>
</head>
<body>

<h1 th:text="${tienda.name}"></h1>

<p th:text="${tienda.averageprice != null ? tienda.averageprice + ' € (EUR)' : 'Sin precio'}"></p>


<p th:if="${tienda.numberEmployees != null}" th:text="${tienda.numberEmployees + ' empleados'}"></p>
<p th:unless="${tienda.numberEmployees != null}">Sin empleados</p>

<p th:if="${tienda.active}" style="color:green;">Abierto</p>
<p th:unless="${tienda.active}" style="color:red;">Cerrado</p>

<!-- resto de atributos del restaurant -->

<!-- listado de productos -->
<p th:text="${product.size()} + ' productos'"></p>


<h2>Opiniones de nuestros clientes</h2>

<p th:if="${reviews.isEmpty()}">Sé el primero en escribir tu opinión</p>

<ul th:unless="${reviews.isEmpty()}">
    <li th:each="review : ${reviews}">

        <p th:text="${review.title}"></p>
        <p th:text="${review.description}"></p>
        <p th:text="${'Valoración: ' + review.rating + ' /5 estrellas'}"></p>
        <p th:text="${'Fecha: ' + review.creationDate}"></p>

    </li>

</ul>

<!-- para el admin: -->
<!-- listado de empleados -->
<!-- listado de pedidos -->



</body>
</html>